/dev/proximity            0640   system     system
/dev/ttyGS1               0660   system     system
/dev/avr		  0777	 system	    system
/dev/i2c-0		  0777   system     system
/dev/isl29018		  0777   system     system
/dev/smb380		  0777   system     system
/dev/tca6507		  0777   system     system
/dev/tpa2018		  0777   system     system
/dev/pmem_smipool	  0666   system     system
